$family-sans-serif: "Nunito", sans-serif;


// Colors
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$blue: #202371;

$blurple: #7289da;
$greyple: #99aab5;
$dark-not-black: #2c2f33;
$nqblack: #23272a;
$white: #ffffff;
$light-blurp: #4C3CCF;
$bg: #1b03a3;
// Body
$body-background-color: $bg;

$info: $cyan;
$success: $green;
$warning: $orange;
$danger: $red;
$light: $white;
$dark: $dark-not-black;
$background: $nqblack;
$text: $white;
$text-strong: $white;
$label-color: $white;

$navbar-dropdown-background-color: $nqblack;
$navbar-dropdown-item-active-background-color: $nqblack;
$navbar-dropdown-border-top: 2px solid $nqblack;

$notification-radius: 0;

$card-background-color: $dark-not-black;
$card-color: $white;

// tables
$table-color: $white;
$table-background-color: $dark-not-black;
$table-row-hover-background-color: $nqblack;

// box
$box-background-color: $dark-not-black;
$box-color: $white;

// forms
$input-color: $white;
$input-background-color: $nqblack;
$input-border-color: $greyple;

$navbar-item: 8px;

